<div>
<h3>Import a CSV File</h3>
  <%= form_tag uploader_create_path, multipart: true do %>
    <%= file_field_tag :file %>
    <h4>Select a performance</h4>
    <%= select_tag :performance, options_from_collection_for_select(@performances, "id", "name"),  prompt: "Select performance" %>
    <h4> Or create a new one </h4>
    <%= text_field_tag :performance_name %>
    <%= date_select :performance_date %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
