

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @performance.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @performance.date %>
</p>

<% unless @performance.samples.empty? %>
  <%= render 'aerialometer_graph' %>
<% end %>

<div>
  Select Data to Display:
  <select id="change-data">
    <option value="acceleration">Acceleration</option>
    <option value="gyroscope">Gyroscope Data</option>
  </select>
</div>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
