<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @performance.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @performance.date %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>

<% unless @performance.samples.empty? %>
  <%= render 'acceleration_graph' %>
<% end %> 
